.header{
    display: flex;
    justify-content: center;
}

.a{
    width: 230px;
    height: 370px;
    margin-top: 100px;
}

.box1{
    background-color: hsl(31, 77%, 52%);
}

.box2{
    background-color: hsl(184, 100%, 22%);
}

.box3{
    background-color: hsl(179, 100%, 13%);
}

.b{
    margin-top: 40px;
    margin-left: 30px;
}

.c{
    color: white;
    margin-left: 30px;
}

.d{
    color: white;
    text-align: center;
    margin-top: 30px;
}

.f{
    background-color: white;
    width: 100px;
    height: 25px;
    margin-left: 30px;
    margin-top: 40px;
    border-radius: 20px;
    padding: 5px;

}

.text{
    display: flex;
    text-align: center;
    align-items: center;
}

.hh1{
    color: hsl(31, 77%, 52%);
}

.hh2{
    color: hsl(184, 100%, 22%);
}

.hh3{
    color: hsl(179, 100%, 13%)
}